<!---Filename: edit.ejs
     Student Name: Rowel Almuete - 301137911 
      Date: 2022-Feb-26 -->
      <%- include ../partials/header %>

      <%- include('../partials/main_nav.ejs') %>
      <!--- Body Begins-->
    <section>
        <div class=" mt-2">
          <div class="container">
            <div class="row">
              <div >
                <h5><%= title %></h5>
                <p></p>
                <form class="form" method="POST">
                  <div class="form-group">
                      <label for="contactNameTxt">Contact Name</label>
                      <input type="text" class="form-control"
                      id="contactNameTxt"
                      placeholder="Enter Preferred Contact Name"
                      name="contactName"
                      value="<%= contact.contactName%>"
                      required>
                  </div>
  
                  <div class="form-group">
                      <label for="contactNumTxt">Contact Number</label>
                      <input type="number" class="form-control"
                      id="contactNumTxt"
                      placeholder="Enter Contact Num"
                      name="contactNum"
                      value="<%= contact.contactNum%>"
                      required>
                  </div>
                  <div class="form-group">
                      <label for="emailTxt">Email</label>
                      <input type="email" class="form-control"
                      id="emailTxt"
                      placeholder="Enter Email"
                      name="email" 
                      value="<%= contact.emailAddr%>"
                      required>
                  </div>

                  <div><p></p>
                  <button class="btn btn-primary" type="submit">
                      <i class="fas fa-edit"></i> Submit</button>
                  
                      <a href="/contact-list" class="btn btn-warning">
                          <i class="fas fa-undo"></i> Cancel</a>
                  </div>
                  
  
              </form>
              </div>  
            </div>
        </div>
        </div>
     </section>
     <!--- Footer Begins-->
       <%- include ../partials/footer %> 